@use "./fonts";
@use "./variables/global.scss";
@use "./themes/dark.scss";
@use "./themes/light.scss";
@use "./reset.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

*::-webkit-scrollbar {
  width: 8px; /* Ширина всего элемента навигации */
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: inherit; /* Цвет дорожки */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border-color-2); /* Цвет бегунка */
  border-radius: 12px; /* Округление бегунка */
}

.app {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: var(--text-color);
}
