node_modules
dist
.git
*.log
.gitignore
README.md
.prettierrc.json
.eslintrc*
.firebaserc
firebase.json
database-debug.log
database.rules.json
setupTests.ts
vitest.config.js
playwright.config.ts
playwright.config.js
playwright-report
test-results
tests
.env*