.formWrapper {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 600px;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  background-color: var(--dark-bg-color);
  font: var(--font-s);
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 15px;
}

.signInButton {
  width: 200px;
}
