:root {
  .app_dark_theme {
    --bg-color: #1e1f29;
    --dark-bg-color: #2c2f3a;
    --text-color: #f2f2f5;
    --hint-color: #8e8e93;
    --cancel-color: #e57373;
    --save-color: #81c784;
    --icon-color: #aab2c3;
    --accent-color: #6fb4ed;
    --border-color: #3a3f47;
    --border-color-2: #9bafd0;
  }
}
