.textArea {
  border-radius: 20px;
  padding: 8px 16px;
  border: 2px solid var(--border-color-2);
  color: var(--text-color);
  font: var(--font-l);
  background: none;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  line-height: 32px;
}

.focused {
  border: 2px solid var(--accent-color);
}
